ilw-icon-panel {
    p {
        margin-top: 1.125rem;
    }
    > p:first-of-type {
        margin-top: 0;
    }

    [slot="icon"] {
        font-size: var(--ilw-icon-panel--icon-size);
        color: var(--ilw-color--heading);
    }
    svg[slot="icon"], [slot="icon"] svg {
        width: auto;
        height: auto;
    }
    img[slot="icon"], [slot="icon"] img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    a[slot="link"], [slot="link"] a {
        color: var(--ilw-color--link);
        font-weight: var(--ilw-icon-panel--link-font-weight);
        font-size: var(--ilw-icon-panel--link-font-size);

        &:visited {
            color: var(--ilw-color--link-visited);
        }
        &:hover, &:is([data-simulated-hover] *) {
            color: var(--ilw-color--link-hover);
        }
        &:focus-visible, &:is([data-simulated-focus] *) {
            outline-color: var(--ilw-color--focus--outline);
            background-color: var(--ilw-color--focus--background);
            color: var(--ilw-color--focus--text);
        }
    }

    h2, h3, h4, h5, h6 {
        margin: 0 0 1.5rem 0;
        font-size: var(--ilw-icon-panel--heading-font-size);
        font-weight: var(--ilw-icon-panel--heading-font-weight);
        line-height: var(--ilw-icon-panel--heading-line-height);
        color: var(--ilw-color--heading);
    }

    &[border="orange"] {
        border-left-color: var(--ilw-color--control-accent);
    }
}